{{#if close}}
<a class="dialog-close" href="javascript:" data-role="close">{{{close}}}</a>
{{/if}}
{{#if title}}
<div class="dialog-head" data-role="head">{{{title}}}</div>
{{/if}}
<div class="dialog-body" data-role="content">{{{content}}}</div>
{{#if submit}}
<div class="dialog-foot" data-role="foot">
  <a href="javascript:;" class="dialog-submit" data-role="submit">{{{submit}}}</a>
  {{#if cancel}}
  <a href="javascript:;" class="dialog-cancel" data-role="cancel">{{{cancel}}}</a>
  {{/if}}
</div>
{{/if}}
